{{ template "default" . }}

{{ define "title" }}Cynnal a chadw | Gweld atwrneiaeth arhosol | GOV.UK{{ end }}

{{ define "main" }}
  <h1 class="govuk-heading-xl">Mae’n ddrwg gennym, nid yw’r gwasanaeth ar gael</h1>
  <p class="govuk-body">Os oes arnoch angen siarad gyda rhywun am ddefnyddio’r gwasanaeth Gweld atwrneiaeth arhosol, cysylltwch â ni drwy:</p>
  <p class="govuk-body">E-bost: <a class="govuk-link" href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a>
      <br>Ffôn (yn Saesneg): 0330 4560300
      <br>Ffôn testun: 0115 9342778
      <br>Dydd Llun i ddydd Gwener, 9:30am tan 5pm, heblaw am ddydd Mercher, 10am tan 5pm.
      <br><a class="govuk-link" href="https://www.gov.uk/costau-galwadau">Gwybodaeth am brisiau galwadau</a>
  </p>
  <p class="govuk-body">Back to GOV.UK: <a class="govuk-link" href="https://www.gov.uk/gweld-atwrneiaeth-arhosol">www.gov.uk/gweld-atwrneiaeth-arhosol</a>
  </p>
{{ end }}
