on:
  workflow_call:

jobs:
  go_build_test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: service-maintenance
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.24
      - name: Build
        id: build_go_app
        run: go build -v ./...
      - name: Test
        id: test_go_app_with_coverage
        run: go test -race -coverpkg ./... -covermode=atomic -coverprofile=coverage.out -v ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
