on:
  workflow_call:

jobs:
  go_build_test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: service-maintenance
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - name: Set up Go
        uses: actions/setup-go@bfdd3570ce990073878bf10f6b2d79082de49492 # v2
        with:
          go-version: 1.25
      - name: Build
        id: build_go_app
        run: go build -v ./...
      - name: Test
        id: test_go_app_with_coverage
        run: go test -race -coverpkg ./... -covermode=atomic -coverprofile=coverage.out -v ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
